1) How to compute a power of a number in Python, try 5 to the power of 3?

In [1]:
5 ** 3

125

In [ ]:
2) Write a code to compute remainder if 9 is divided by 2

In [2]:
9 % 2

1

3) Convert string s = 'i am in Alberta' to upper case

In [3]:
s = 'i am in Alberta'
s.upper()

'I AM IN ALBERTA'

4) Convert the string s = 'My name is #Amandeep' into lower case and split at # into a list

In [4]:
s = 'My name is #Amandeep'
s.lower().split('#')

['my name is ', 'amandeep']

5) Given 
province = 'Alberta'
population = 4.1
format a string to say 'The total population of Alberta is 4.1 million'

In [7]:
province = 'Alberta'
population = 4.1
'The total population of {pr} is {pop}'.format(pr=province, pop=population)

'The total population of Alberta is 4.1'

6) Grab 'Canada' from the given nested list using indexing

In [8]:
a = ['Alberta', 2, [3, 4], [5, ['Canada']]]
a[3][1][0]

'Canada'

7) Create a list of the names of provinces from the dictionary given below
d = {'BC':'Victoria', 'AB': 'Edmonton', 'ON': 'Toronto', 'QC': 'Quebec City'}

In [10]:
d = {'BC':'Victoria', 'AB': 'Edmonton', 'ON': 'Toronto', 'QC': 'Quebec City'}
list(d.keys())

['BC', 'AB', 'ON', 'QC']

8) From the given list grab 'Montreal'
d = {'k1': 'AB', 'k2': [1, {'BC': ['SK', 'ON', 'Vancouver', {'Calgary': [1, 2, 3, 'Montreal']}]}]}

In [12]:
d = {'k1': 'AB', 'k2': [1, {'BC': ['SK', 'ON', 'Vancouver', {'Calgary': [1, 2, 3, 'Montreal']}]}]}
d['k2'][1]['BC'][3]['Calgary'][3]

'Montreal'

In [ ]:
9) What is the main difference between a tuple and a list?

In [ ]:
# A list is a sequence thats mutable, a tuple is a list thats immutable

10) An element can appear multiple times in a set?

In [ ]:
False

11) Write a function to separate domains from email addresses

In [15]:
def get_domain(address):
    return address.split('@')[1];
get_domain('user_name@some_domain.ca')

'some_domain.ca'

12) write a function 'find_city' that tells you if there is a word 'Calgary' in a given string? How to deal if the word 'city' is capitalized?

In [18]:
def find_city(str):
    return 'Calgary'.lower() in str.lower()
print(find_city('Calgary is a city in Alberta'))
print(find_city('Vancouver is a city in British Columbia'))

True
False

13) Write a function to return square of numbers from 1 to 5, use range() method

In [20]:
def square(list):
    return [num ** 2 for num in list]
square(range(1, 6))

[1, 4, 9, 16, 25]

14) Write a lambda expression for the function in 13, use map() and range()

In [22]:
list(map(lambda num: num ** 2, range(1, 6)))

[1, 4, 9, 16, 25]

15) Filter all the words from the given veg_list that start with 'c'

In [24]:
veg_list = ['tomato', 'cabbage', 'meat', 'chicken', 'goat']
list(filter(lambda str: str[0] != 'c', veg_list))

['tomato', 'meat', 'goat']