**Exercise 1 (Overview): Ecommerce Purchases**
Dataset is available from course downloads.
The dataset contains customer purchase info on-line or in-store. We will use it to answer some questions

In [3]:
import os
cwd = os.getcwd()
cwd

'C:\\Users\\asuch\\Documents\\Code\\course_data-science-from-scratch-part1'

Loop through the files in your working directory and display their names

In [4]:
files = [f for f in os.listdir('.') if os.path.isfile(f)]
for f in files:
    print(f)

.gitignore
environment.yml
Section 1 - Python Essentials Exercises.ipynb
Section 1 - Python Essentials.ipynb
Section 2 - NumPy Exercises.ipynb
Section 2 - NumPy.ipynb
Section 3 - Exercises.ipynb
Section 3 - Pandas for Data Analysis.ipynb
Section 3 - part 2 & 3 - Hierarchal Indexing and Handling Missing data in Pandas.ipynb
Section 3 - part 4 and 5 - Combining and merging and Groupby.ipynb
Section 3 - part 6 - Useful methods.ipynb

In [5]:
import pandas as pd

1) Please load data from sample file 'Cust_Purch_FakeData.csv'

In [8]:
cust = pd.read_csv('.\exercises data\Cust_Purch_FakeData.csv')

2) display the first 5 rows of your data-set

In [9]:
cust.head(5)

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
0,Dr.,Ray,Morton,sebvajom@kol.km,Male,38,Medtronic Inc.,Health Therapist,(987) 619-2695,B6V 3W3,MB,5020000000000230,05/2018,Solo,8.36,Blue,126.23.139.2,Sunday,pm,04/05/1930
1,Miss,Claudia,Rodriquez,acu@jatsot.ug,Female,51,"Ames Department Stores, Inc.",Health Therapist,(356) 736-7352,G7M 5F3,SK,5020000000000230,07/2028,Visa,68.31,Black,106.198.76.211,Tuesday,am,12/20/1926
2,Miss,Harry,Meyer,zuz@lo.wf,Female,51,CSX Corp.,Political Scientist,(539) 246-1806,A0Z 6P9,NS,6300000000000000,02/2023,Switch,34.65,Black,186.150.187.29,Wednesday,pm,08/20/1931
3,Miss,Edith,Gilbert,hansohsi@jupec.md,Female,55,Murphy Oil Corporation,Transportation Manager,(984) 962-7494,P9I 9H3,YT,3530000000000000,02/2028,Maestro,64.59,White,80.140.57.161,Saturday,am,06/18/2001
4,Dr.,Lura,Murphy,webediti@je.st,Female,20,PETsMART Inc,Statistician,(902) 568-9748,S1A 6K0,ON,4030000000000000,10/2025,Diners Club International,20.83,Yellow,211.103.43.41,Friday,pm,06/14/2045

3) How many entries does your data have? Can you tell the # of columns in your data?

In [18]:
print('count: ', cust.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   prefix      30000 non-null  object
 1   first       30000 non-null  object
 2   last        30000 non-null  object
 3   email       30000 non-null  object
 4   gender      30000 non-null  object
 5   age         30000 non-null  int64
 6   company     30000 non-null  object
 7   profession  30000 non-null  object
 8   phone       30000 non-null  object
 9   postal      30000 non-null  object
 10  province    30000 non-null  object
 11  cc_no       30000 non-null  int64
 12  cc_exp      30000 non-null  object
 13  cc_type     30000 non-null  object
 14  price(CAD)  30000 non-null  float64
 15  fav_color   30000 non-null  object
 16  ip          30000 non-null  object
 17  weekday     30000 non-null  object
 18  ampm        30000 non-null  object
 19  date        30000 non-null  object
dtypes: float64(1), int64(2), object(17)
memory usage: 4.6+ MB
count:  None

4) What are the max and min ages of your customer? Can you find the mean of your customer?

In [19]:
print('Max age is ', cust['age'].max())
print('Min age is ', cust['age'].min())
print('Avg age is ', cust['age'].mean())

Max age is  65
Min age is  18
Avg age is  41.550066666666666

5) What are the three most common customer names?

In [24]:
cust['first'].value_counts().head(3)

Willie     130
Francis    124
Eula        86
Name: first, dtype: int64

6) Two customers have the same phone number, can you find those customers?

In [38]:
phone = cust['phone'].value_counts().head(2)
phone.index[0]

'(263) 382-8004'

In [39]:
# now we know the phone, lets find out the other stuff
cust[cust['phone'] == phone.index[0]]

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
15,Mrs.,Lilly,Tyler,kofadu@itohi.tf,Female,38,CSX Corp.,Structural Engineer,(263) 382-8004,V7K 1E3,ON,30000000000000,11/2022,Diners Club Carte Blanche,9.61,Yellow,74.124.37.227,Saturday,am,03/30/1985
16,Mrs.,Peter,Cain,megkosig@anazeor.gn,Male,27,Campbell Soup Co.,Insurance Adjuster,(263) 382-8004,E8T 2B4,YT,3530000000000000,03/2024,Solo,13.74,Black,25.207.141.135,Tuesday,am,08/05/1950

7) How many customers have profession "Structural Engineer"?

In [42]:
cust[cust['profession'] == 'Structural Engineer'].count()

prefix        87
first         87
last          87
email         87
gender        87
age           87
company       87
profession    87
phone         87
postal        87
province      87
cc_no         87
cc_exp        87
cc_type       87
price(CAD)    87
fav_color     87
ip            87
weekday       87
ampm          87
date          87
dtype: int64

8) How many male customers are 'Structural Engineer'?

In [44]:
bool_ser = (cust['profession'] == 'Structural Engineer') & (cust['gender'] == 'Male')
cust[bool_ser].count()

prefix        43
first         43
last          43
email         43
gender        43
age           43
company       43
profession    43
phone         43
postal        43
province      43
cc_no         43
cc_exp        43
cc_type       43
price(CAD)    43
fav_color     43
ip            43
weekday       43
ampm          43
date          43
dtype: int64

9) Find out the female Structural Engineers from provinde Alberta (AB)?

In [45]:
bool_ser = (cust['profession'] == 'Structural Engineer') & (cust['gender'] == 'Female')
bool_ser = bool_ser & (cust['province'] == 'AB')
cust[bool_ser]

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
8858,Dr.,Roy,Stanley,apiunvo@ehasom.ir,Female,39,Cincinnati Financial Corp.,Structural Engineer,(876) 758-2929,N5A 6L2,AB,6300000000000000,02/2022,InstaPayment,31.86,Red,165.249.159.57,Sunday,pm,12/25/1903
9058,Mr.,Lora,Kennedy,dennap@rabac.se,Female,51,BJ Services Company,Structural Engineer,(305) 786-6959,N3R 4B7,AB,201000000000000,06/2019,Diners Club United States & Canada,53.29,Black,42.216.243.206,Thursday,pm,06/06/2028
24736,Mrs.,Nell,Richards,dob@me.ki,Female,18,Telephone & Data Systems Inc,Structural Engineer,(262) 681-5018,N3Y 3G2,AB,347000000000000,07/2028,American Express,76.28,Blue,91.16.30.156,Wednesday,pm,07/14/1951
29865,Mrs.,Don,McDaniel,naf@zudu.bj,Female,37,Anadarko Petroleum Corporation,Structural Engineer,(238) 789-2825,B4A 8Q9,AB,5610000000000000,12/2022,Mastercard,62.71,Blue,162.233.117.142,Sunday,pm,11/03/1989

10) What is the max, min and average spending?

In [47]:
print('Max spending is ', cust['price(CAD)'].max())
print('Min spending is ', cust['price(CAD)'].min())
print('Avg spending is ', cust['price(CAD)'].mean())

Max spending is  100.0
Min spending is  0.0
Avg spending is  49.990775

11) Who did not spend anything? Company wants to send a deal to encourage the customer to buy stuff!

In [48]:
bool_ser = cust['price(CAD)'] == 0
cust[bool_ser]

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
5320,Dr.,Bruce,Bryan,ru@pubuspuh.cl,Male,59,Wal-Mart Stores Inc,Engineer Technician,(709) 446-8317,H6H 3Y0,NU,201000000000000,04/2024,Bankcard,0.0,White,82.70.62.64,Wednesday,am,12/11/1900
10597,Mrs.,Flora,Clark,wad@me.com,Female,27,MetLife Inc.,Cruise Director,(775) 373-6590,B2U 8K6,NB,30100000000000,05/2020,Diners Club Carte Blanche,0.0,Red,231.156.15.63,Thursday,pm,08/22/1904

12) As a loyalty reward, company wants to send thanks coupon to those who spent 100CAD or more, please find out the customers?

In [49]:
bool_ser = cust['price(CAD)'] >= 100
cust[bool_ser]

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
76,Mrs.,Gregory,Brown,hav@jek.gs,Female,31,"E*Trade Group, Inc.",Novelist,(625) 537-8923,X3S 4Q2,PE,6010000000000000,04/2018,Visa,100.0,Green,212.100.18.95,Monday,am,10/23/2063
21093,Mrs.,Cody,Christensen,get@jovu.ag,Male,28,National City Corp.,Hospital Administrator,(261) 737-3292,X0S 1O5,PE,201000000000000,03/2024,JCB,100.0,Green,168.48.19.165,Wednesday,pm,03/28/1955
24385,Miss,Lizzie,Dixon,goh@tuwjaz.gd,Female,38,FleetBoston Financial Co.,Compensation Analyst,(989) 239-1752,V8X 9V6,NB,6300000000000000,07/2019,Bankcard,100.0,Blue,140.87.99.78,Saturday,pm,03/03/1983

13) How many emails are associated with this credit card number '5020000000000230'?

In [52]:
bool_ser = cust['cc_no'] == 5020000000000230
cust[bool_ser].email

0    sebvajom@kol.km
1      acu@jatsot.ug
Name: email, dtype: object

14) We need to send new cards to the customers well before they expire, how many cards are expiring in 2019? (Use sum() and count() and see the difference in their use)

In [62]:
# cust[cust['cc_exp'].apply(lambda x: x[5:]) == '19'].count()
sum(cust['cc_exp'].apply(lambda x: x[5:]) == '19')

2684

15) How many people use Visa as their Credit card provider?

In [68]:
sum(cust['cc_type'] == 'Visa')

1721

16) Can you find the customer who spend 100 CAD using Visa?

In [69]:
bool_ser = (cust['cc_type'] == 'Visa') & (cust['price(CAD)'] == 100)
cust[bool_ser]

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
76,Mrs.,Gregory,Brown,hav@jek.gs,Female,31,"E*Trade Group, Inc.",Novelist,(625) 537-8923,X3S 4Q2,PE,6010000000000000,04/2018,Visa,100.0,Green,212.100.18.95,Monday,am,10/23/2063

17) What are the two most common professions?

In [71]:
cust['profession'].value_counts().head(2)

Preschool Teacher       112
Distribution Manager    107
Name: profession, dtype: int64

18) Can you tell the top 5 most popular email providers?

In [74]:
cust['email'].apply(lambda email: email.split('@')[1]).value_counts().head(5)

gmail.com      1687
me.com         1676
outlook.com    1664
live.com       1660
hotmail.com    1659
Name: email, dtype: int64

In [ ]:
19) Is there any customer who is using email with "am.edu"?

In [78]:
cust[cust['email'].apply(lambda email: email.split('@')[1] == 'am.edu')]

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
150,Miss,Loretta,Fletcher,barit@am.edu,Female,48,York International Corp,Rehabilitation Counselor,(323) 279-8038,E5X 8L0,QC,6330000000000000,05/2021,Diners Club United States & Canada,97.26,White,147.57.240.225,Monday,am,11/07/2066

20) Which day of the week has the most customers?

In [79]:
cust['weekday'].value_counts().head()

Saturday     4376
Wednesday    4365
Thursday     4327
Friday       4316
Monday       4216
Name: weekday, dtype: int64

**Exercise 2 (Overview): Chicago Payroll data**

2) Read City_of_Chicago_Payroll_Data.csv as a dataframe in 'pay'

In [80]:
pay = pd.read_csv('.\exercises data\City_of_Chicago_Payroll_Data.csv')

3) Show the first 5 records in your data

In [81]:
pay.head(5)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ALLISON, PAUL W",LIEUTENANT,FIRE,F,Salary,NaN,$107790.00,NaN
1,"BRUNO, KEVIN D",SERGEANT,POLICE,F,Salary,NaN,$104628.00,NaN
2,"COOPER, JOHN E",LIEUTENANT-EMT,FIRE,F,Salary,NaN,$114324.00,NaN
3,"CRESPO, VILMA I",STAFF ASST,LAW,F,Salary,NaN,$76932.00,NaN
4,"DOLAN, ROBERT J",SERGEANT,POLICE,F,Salary,NaN,$111474.00,NaN

3) Get the overview of your data

In [82]:
pay.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32658 entries, 0 to 32657
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               32658 non-null  object
 1   Job Titles         32658 non-null  object
 2   Department         32658 non-null  object
 3   Full or Part-Time  32658 non-null  object
 4   Salary or Hourly   32658 non-null  object
 5   Typical Hours      7883 non-null   float64
 6   Annual Salary      24775 non-null  object
 7   Hourly Rate        7883 non-null   object
dtypes: float64(1), object(7)
memory usage: 2.0+ MB

4) How many 'NaN' you have in each column of data?

In [93]:
pay.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        24775
Annual Salary         7883
Hourly Rate          24775
dtype: int64

5) Output the statistics for your dataset

In [95]:
pay.describe(include='all')

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
count,32658,32658,32658,32658,32658,7883.000000,24775,7883
unique,32350,1095,36,2,2,NaN,1038,167
top,"HERNANDEZ, JUAN C",POLICE OFFICER,POLICE,F,Salary,NaN,$90024.00,$35.60
freq,5,9393,12973,30676,24775,NaN,2368,1404
mean,NaN,NaN,NaN,NaN,NaN,34.698719,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,9.145553,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,10.000000,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,20.000000,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,40.000000,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,40.000000,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,40.000000,NaN,NaN

6) What are the max, min, avg typical hours?

In [97]:
print('Max typical hours ', pay['Typical Hours'].max())
print('Min typical hours ', pay['Typical Hours'].min())
print('Avg typical hours ', pay['Typical Hours'].mean())

Max typical hours  40.0
Min typical hours  10.0
Avg typical hours  34.69871876189268

7) How many employees are on salary and how many on hourly basis?

In [103]:
pay['Salary or Hourly'].value_counts()

Salary    24775
Hourly     7883
Name: Salary or Hourly, dtype: int64

8) Which department has maximum number of employees

In [105]:
pay['Department'].value_counts().head(2)

POLICE    12973
FIRE       4800
Name: Department, dtype: int64

9) How many employees are on Salary and how many are on Hourly in the Police department?

In [108]:
#pay[pay['Department'] == 'POLICE']['Salary or Hourly'].value_counts()
pay[pay['Department'] == 'POLICE'].groupby('Salary or Hourly').count()['Department']

Salary or Hourly
Hourly       32
Salary    12941
Name: Department, dtype: int64

11) What are the mean, max and min salaries?
Create a new column named 'Salaries' for this and ensure all values in it are floats

In [109]:
pay['Salaries'] = pay['Annual Salary'].str.replace('$', '').astype(float)

C:\Users\asuch\AppData\Local\Temp\ipykernel_5244\4137963263.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  pay['Salaries'] = pay['Annual Salary'].str.replace('$', '').astype(float)

In [111]:
print('Max salary is ', pay['Salaries'].max())
print('Min salary is ', pay['Salaries'].min())
print('Avg salary is ', pay['Salaries'].mean())

Max salary is  300000.0
Min salary is  0.96
Avg salary is  87512.78024137235

12) Find an employee who has the maximum salary

In [113]:
pay[pay['Salaries'] == pay['Salaries'].max()]

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate,Salaries
8310,"EVANS, GINGER S",COMMISSIONER OF AVIATION,AVIATION,F,Salary,NaN,$300000.00,NaN,300000.0

20) What is the average salary of the employees in each department?

In [114]:
pay.groupby('Department')['Salaries'].mean()

Department
ADMIN HEARNG             78912.947368
ANIMAL CONTRL            66089.684211
AVIATION                 76140.018777
BOARD OF ELECTION        56051.142857
BOARD OF ETHICS          94552.500000
BUDGET & MGMT            93925.395349
BUILDINGS                98864.833534
BUSINESS AFFAIRS         80446.425000
CITY CLERK               69762.439024
CITY COUNCIL             63577.172069
COMMUNITY DEVELOPMENT    88363.257143
COPA                     98784.705882
CULTURAL AFFAIRS         87048.909091
DISABILITIES             82431.724138
DoIT                     99681.029703
FAMILY & SUPPORT         79013.588785
FINANCE                  73276.364662
FIRE                     97762.348662
GENERAL SERVICES         83095.528390
HEALTH                   85488.210938
HUMAN RELATIONS          93778.588235
HUMAN RESOURCES          79851.761194
INSPECTOR GEN            84030.666667
IPRA                     94429.285714
LAW                      84582.814404
LICENSE APPL COMM        80568.000000
MAYOR'S OFFICE           96165.512308
OEMC                     73153.778221
POLICE                   87836.025349
POLICE BOARD             86136.000000
PROCUREMENT              83278.243902
PUBLIC LIBRARY           71273.288136
STREETS & SAN            84347.775701
TRANSPORTN               89976.896061
TREASURER                88062.652174
WATER MGMNT              89894.111803
Name: Salaries, dtype: float64