**1) Python data types**

In [1]:
# addition
5 + 2

7

In [1]:
# modulo
5 % 2

1

In [2]:
# exponent
5 ** 2

25

In [3]:
# python follows arithmetic order of operations
1 + 2 * 3 + 4

11

**1.2) Strings**

In [4]:
first = 'Amandeep'
last = 'Suchar'

In [6]:
print('My name is {} {}'.format(first, last))

My name is Amandeep Suchar

In [7]:
# format using placeholders
print('My name is {a} {b}'.format(a=first, b=last))

My name is Amandeep Suchar

String slicing

In [8]:
X = 'S'
X[0]

'S'

In [9]:
str = 'Hi Im Amandeep'
str[-1]

'p'

In [10]:
# slice the greeting
str[3:]

' Im Amandeep'

In [11]:
# slice the introduction
str[:2]

'Hi'

In [16]:
# slice the name
str[6:14]

'Amandeep'

**1.3) Lists**

In [26]:
my_list = [1, 2]
print(my_list)

[1, 2]

In [27]:
print(my_list[1])

2

In [28]:
print(my_list.pop())

2

In [30]:
# lists support the same slicing operations as strings
str_list = ['d', 'e', 'f']
print(str_list[1:])

['e', 'f']

In [31]:
nested = [1, 2, [3, 4, ['a', 'b']]]
# grab 'a'
print(nested[2][2][0])

a

**1.4) Dictionaries**

In [33]:
dict = {'a': [1, 2, 3], 'b': [4, 5, 6]}
# print 6
print(dict['b'][2])

6

In [34]:
nested_dict = {'a': [1, 2, 3], 'b': [4, 5, 6], 'c': {'k1': [7, 8]}}
# print 8
print(nested_dict['c']['k1'][1])

8

**1.5) Tuples**

In [35]:
# tuples are immutable lists
tup = (1, 2, 3)
print(tup[0])
tup[0] = 4

1

TypeError: 'tuple' object does not support item assignment

**1.6) Sets**

In [41]:
# sets are collections of items, an item can only appear once in a set
set = {1, 2, 2, 3, 3, 3, 4, 4, 4, 4}
print(set)
# items can be added using .add()
set.add(5)
print(set)
# items can be removed using .remove()
set.remove(3)
print(set)
# can check if item is in a set
print(1 in set)

{1, 2, 3, 4}
{1, 2, 3, 4, 5}
{1, 2, 4, 5}
True

(Skipping Sections 2, 3, 4)

**5) Loops**

In [2]:
my_list = [1, 2, 3, 4, 5]
for item in my_list:
    print(item)

1
2
3
4
5

In [7]:
# rather than creating sequences, we can use a range()
# range() is a generator of numerical values
print(list(range(3))) # generates values up to (but not including) 3
print(list(range(1, 5))) # generates values from 1 up to (but not including) 5
print(list(range(1, 10, 4))) # generates values up to 10, incrementing by 4

[0, 1, 2]
[1, 2, 3, 4]
[1, 5, 9]

List comprehensions

In [8]:
# simply take a for statement and move it after what you want in the result
[num * 2 for num in range(0, 3)]

[0, 2, 4]

**8) Lambda expressions and 9) Map and filter

In [11]:
# used lambda to create small anonymous functions
# handy when using map and filter
list(map(lambda num: num * 2, range(0, 5)))

[0, 2, 4, 6, 8]

In [13]:
# filter all multiples of 5
list(filter(lambda num: num % 5 == 0, range(0, 50)))

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]