**4) Combining and Merging datasets**
merge() - connects rows in DataFrames based on one or more keys
concat() - concatenates entries together on an axis

In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({'key': ['a', 'b', 'c', 'd', 'e'], 'A1': range(5), 'B1': range(5, 10)})
df2 = pd.DataFrame({'key': ['a', 'b', 'c'], 'A2': range(3), 'B2': range(3, 6)})

In [3]:
df1

  key  A1  B1
0   a   0   5
1   b   1   6
2   c   2   7
3   d   3   8
4   e   4   9

In [4]:
df2

  key  A2  B2
0   a   0   3
1   b   1   4
2   c   2   5

**merge()** - supports sql-like joins (inner, outer, left, right) on an axis

In [6]:
pd.merge(df1, df2, how='inner', on='key')

  key  A1  B1  A2  B2
0   a   0   5   0   3
1   b   1   6   1   4
2   c   2   7   2   5

In [10]:
print(pd.merge(df1, df2, how='outer', on='key'))
print(df1)
print(df2)

  key  A1  B1   A2   B2
0   a   0   5  0.0  3.0
1   b   1   6  1.0  4.0
2   c   2   7  2.0  5.0
3   d   3   8  NaN  NaN
4   e   4   9  NaN  NaN
  key  A1  B1
0   a   0   5
1   b   1   6
2   c   2   7
3   d   3   8
4   e   4   9
  key  A2  B2
0   a   0   3
1   b   1   4
2   c   2   5

In [11]:
print(pd.merge(df1, df2, how='left', on='key'))

  key  A1  B1   A2   B2
0   a   0   5  0.0  3.0
1   b   1   6  1.0  4.0
2   c   2   7  2.0  5.0
3   d   3   8  NaN  NaN
4   e   4   9  NaN  NaN

In [ ]:
print(pd.merge(df1, df2, how='right', on='key'))

**Merging with two columns**

In [14]:
# lets create dataframes with two key columns (key1 and key2)
# each dict key is a column but we will only be doing joins on key1 and key2 columns
left = pd.DataFrame({'key1': ['a', 'a', 'b', 'c'],
                  'key2': ['a', 'b', 'a', 'b'],
                  'A': ['A0', 'A1', 'A2', 'A3'],
                  'B': ['B0', 'B1', 'B2', 'B3']})
right = pd.DataFrame({'key1': ['a', 'b', 'b', 'c'],
                     'key2': ['a', 'b', 'a', 'a'],
                     'C': ['C0', 'C1', 'C2', 'C3'],
                     'D': ['D0', 'D1', 'D2', 'D3']})

In [15]:
print(left)
print(right)

  key1 key2   A   B
0    a    a  A0  B0
1    a    b  A1  B1
2    b    a  A2  B2
3    c    b  A3  B3
  key1 key2   C   D
0    a    a  C0  D0
1    b    b  C1  D1
2    b    a  C2  D2
3    c    a  C3  D3

In [17]:
pd.merge(left, right, how='inner', on=['key1', 'key2'])

  key1 key2   A   B   C   D
0    a    a  A0  B0  C0  D0
1    b    a  A2  B2  C2  D2

In [ ]:
# outer join is as expected, it will have all the key1 and key2 combinations
# and nan for empty column cells
pd.merge(left, right, how='outer', on=['key1', 'key2'])

**4.2) Concatenation**